decorator==4.2.1
Django==2.0.3
django-crispy-forms==1.7.2
django-fluent-contents==2.0.2
django-fluent-utils==2.0
django-parler==1.9.2
django-polymorphic==2.0.2
django-tables2==1.21.1
django-tag-parser==3.1
django-template-analyzer==1.6.1
django-widget-tweaks==1.4.1
fluentcms-countdown==1.2
future==0.16.0
html5lib==1.0.1
ipdb==0.11
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pytz==2018.3
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
